@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input {
  display: block;
}

body{
  background-color: #f2f2f2;
}

.a11y{
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

*{
  font-family: 'SpoqaHanSansNeo-Regular';
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  /* width: 520px; */
  /* height: 712px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  background-color: #fff;
}

/* header */

header{
  width: 100%;
  text-align: center;
  color: #000;
  font-family: "Spoqa Han Sans Neo";
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #C4C4C4;
  padding: 20px;
  box-sizing: border-box;
}

.close {
  width: 16px;
  height: 16px;
}

.login-title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:before,
.close:after {
  position: absolute;
  right: 24px;
  bottom: 0%;
  content: ' ';
  height: 16px;
  width: 1px;
  padding-top: 8px;
  background-color: #767676;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* section1 */
.section1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.title{
  color: #000;
  font-family: "Spoqa Han Sans Neo";
  font-size: 20px;
  /* font-style: normal;
  font-weight: 500; */
  line-height: 120%;
  padding: 25px;
}
form{
  padding : 25px auto;
  margin-bottom: 20px;
}
#user-id,
#user-pw{
  width:472px;
  margin:0 auto;
  padding : 15px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f4492e;
}

form input::placeholder{
  color: #767676;
  font-family: "Spoqa Han Sans Neo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.txt{
  display: block;
  color: #F4492E;
  font-size: 14px;
  margin-left: 28px;
  margin-bottom: 11px;
}
#check{
  display: inline-block;
  margin-left: 28px;
}
.login-state{
  color: #767676;
  font-size: 16px;
}

.btn-login{
  color:#fff;
  margin:auto 24px;
  background-color: #2F80ED;
  border-radius: 5px;
  padding:14px;
}

.func{
  text-align: center;
  margin-top: 20px;
}

.find {
  display: inline;
  color:#767676;
  font-size: 14px;
}

.join::after{
  content: '|';
  margin-left: 12px;
  margin-right: 11px;
}

.or-line{
  color: #767676;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.or::before,
.or::after{
  background-color:#c4c4c4;
  width: 230px;
  height: 1px;
  position: absolute;
  content: ' ';
}

.or::after{
  left:24px;
  top:50%;
}
.or::before{
  right: 24px;
  top:50%;
}

.checkbox {
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

.login-state{
  position: relative;
}

.login-state::before{
  vertical-align: -5px;
  display: inline-block;
  background-image: url(./check-box.png);
  content: '';
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
  /* border: 1px solid #767676; */
}

.checkbox:focus-visible+.login-state::before {
  outline: 2px solid teal;
  outline-offset: 3px;
}

.login-state::after{
  opacity: 0;
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url(./check-box\ \(1\).png);
  background-size: 22px;
  background-repeat: no-repeat;
}

.checkbox:checked+.login-state::after {
  left: 0.1%;
  top: 2%;
  opacity: 1;
}

/* section2 */
ul li{
  color: #767676;
  border-radius: 5px;
  width: 472px;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.google{
  background-image: url(./Google__G__Logo\ 1.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 12px 11px ;
  border: 2px solid #767676;
}
.facebook{
  background-image: url(./facebook.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 12px 11px ;
  border: 2px solid #2d9cdb;
}
.naver{
  background-image: url(./naver-logo.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 12px 11px ;
  border: 2px solid #00bf18;
}
.kakao{
  background-image: url(./message-circle.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 12px 11px ;
  border: 2px solid #F2C94C;
  margin-bottom: 25px;
}

.main-login{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 500px;
  height: 240px;
  background-color: #fff;
}

.logo{
  background-image: url(./weniv-logo.png);
  width: 138px;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 28px;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-login-btn{
  background-color: #2F80ED;
  color: #fff;
  padding: 16px 190px;
  margin-top: 32px;
  border-radius: 5px;
}
/* [class^="icon"]::before {
  position: absolute;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url('images_login/icon_sprites_retina.png');
  background-size: 117px 84px;
}

.link-sns-login.icon-facebook {
  border: 1px solid #2D9CDB;
}

.link-sns-login.icon-naver {
  border: 1px solid #00BF18;
}

.link-sns-login.icon-kakao {
  border: 1px solid #F2C94C;
}

.icon-google::before {
  width: 22px;
  height: 22px;
  background-position: -52px -10px;
  /* background: url("images_login/icon_google.png") no-repeat; */


/* .icon-naver::before {
  width: 22px;
  height: 22px;
  background-position: -10px -10px;
  /* background: url("images_login/icon_naver.png") no-repeat; */


/* .icon-kakao::before {
  width: 22px;
  height: 22px;
  background-position: -10px -52px;
  /* background: url("images_login/icon_kakao.png") no-repeat; */


/* .icon-facebook::before {
  height: 24px;
  width: 13px;
  background-position: -93px -10px;

  /* background: url("images_login/icon_facebook.png") center no-repeat; */

 