body,
ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
input {
  border-style: none;
}

*{
  font-family: 'Noto Sans KR';
}

body{
  background-color: #EAE8FE;
}

.logo{
  width: 386px;
  height: 165px;
  margin: 0 auto;
}

.vending{
  display: grid;
  grid-template-areas: 
  "a b"
  "a c"
  ;
  margin: 67px 420px;
  gap: 20px 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px auto;
} 

.ven-main,
.ven-get,
.ven-money{
  background-color: #fff;
}

.ven-main{
  grid-area: a;

}

.product{
  display: grid;
  grid-template-rows : 150px auto;
  grid-template-columns: 130px 130px 130px;
  justify-content: center;
  margin: 31px 27px;
  gap : 12px;
}

.not-selected{
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}

.selected {
  border: 3px solid #6327FE;
  border-radius: 10px;
}

.sold-out:disabled{
  border-radius: 10px;
  color:inherit;
  position: relative;
  overflow: hidden;
}

.sold-out:disabled:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.sold-out strong{
  color: #EAE8FE;
  z-index: 10;
  position: absolute;
  border: 6px double #EAE8FE;
  font-size: 16px;
  width: 45px;
  transform: rotate(-17.965deg);
}

.btn-cola div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.btn-cola div img{
  width: 36px;
}

.btn-cola p{
  color: #333;
  margin-top: 6px;
  font-weight: 500;
  font-size: 11px;
}

.btn-cola span{
  color:#fff;
  background-color: #6327FE;
  padding: 5px 16px;
  margin-top: 7px;
  border-radius: 50px;
}

