*{
  font-family: 'Noto Sans KR';
}

body{
  background-color: #EAE8FE;
}

.logo{
  width: 386px;
  height: 165px;
  margin: 0 auto;
}

.vending{
  display: grid;
  grid-template-areas: 
  "a b"
  "a c"
  ;
  margin: 67px 420px;
  gap: 20px 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px auto;
} 

.ven-main,
.ven-get,
.ven-money{
  background-color: #fff;
}

.ven-main{
  grid-area: a;

}

.product{
  display: grid;
  grid-template-rows : 150px auto;
  grid-template-columns: 130px 130px 130px;
  justify-content: center;
  margin: 31px 27px;
  gap : 12px;
}

.not-selected{
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
  border-style: inherit;
}

.selected {
  border: 3px solid #6327FE;
  border-radius: 10px;
}

.sold-out:disabled{
  border-radius: 10px;
  color:inherit;
  position: relative;
  overflow: hidden;
}

.sold-out:disabled:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.sold-out strong{
  color: #EAE8FE;
  z-index: 10;
  position: absolute;
  border: 6px double #EAE8FE;
  font-size: 16px;
  width: 45px;
  transform: rotate(-17.965deg);
}

.btn-cola div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.btn-cola div img{
  width: 36px;
}

.btn-cola p{
  color: #333;
  margin-top: 6px;
  font-weight: 500;
  font-size: 11px;
}

.btn-cola span{
  color:#fff;
  background-color: #6327FE;
  padding: 5px 16px;
  margin-top: 7px;
  border-radius: 50px;
}

/* 잔액, 거스름 돈 반환, 입금 */
.rtn-balance{
  display: flex;
  margin-bottom: 20px;
  gap: 12px;
}

.balance{
  background-color: #EAE8FE ;
  margin-left: 27px;
  width: 252px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.btn-rtn,
.btn-dep{
  background: #FFF;
  border-radius: 5px;
  width:130px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
  border-style: inherit;
  font-size: 15px;
  font-weight: 500;
}

.btn-dep{
  padding: 6px 35px;
}
.input-dep{ 
  margin-left: 27px;
  margin-right: 9px;
  width: 257px;
  border-radius: 5px;
  padding: 6px;
  border-color: #bdbdbd;
}
/* 잔액, 거스름 돈 반환, 입금 */

/* 획득 콜라 리스트, 획득 버튼 */
.get-cola{
  display: flex;
  margin-top: 20px;
  margin-bottom: 35px;
}
.get-list{
  background: #EAE8FE;
  margin-left: 12px;
  width: 272px;
  height: 106px;
  overflow: scroll;
}

.get-cola{
  display: flex;
  align-items: center;
  background: #FFF;
  border-radius: 5px;
  margin: 10px 15px;
}

.get-cola img{
  width: 18px;
  height: 33px;
  padding: 10px 5px;
}

.btn-get{
  background: #6327FE;
  color:#fff;
  margin-left: 12px;
  border-radius: 5px;
  width: 130px;
  height: 106px;
  border-style: none;  
}
/* 획득 콜라 리스트, 획득 버튼 */